{% extends 'base.html.twig' %}

{% block title %}Edit EditableTextContent{% endblock %}

{% block body %}
    <h1>Edit EditableTextContent</h1>

    {{ include('editable_text_content/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_editable_text_content_index') }}">back to list</a>

    {{ include('editable_text_content/_delete_form.html.twig') }}
{% endblock %}
