<form method="post" action="{{ path('app_editable_image_content_delete', {'id': editable_image_content.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ editable_image_content.id) }}">
    <button class="btn">Delete</button>
</form>
